<html>
  <head>
    <title>Register a new user</title>
  </head>
  <body>
    <h2>Register a new user:</h2>
    <form action="insert_user" method="post">
      <p>Username: <input type="text" name="username"></p>
      <p>Fullname: <input type="text" name="fullname"></p>
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="text" name="password"></p>
      <input type="submit" value="Submit">
    </form>
    <ul><a href="/">Back to Home Page.</a></ul>
  </body>
</html>
